[submodule "dlib"]
	path = thirdparty/dlib
	url = https://github.com/streamlabs/dlib.git
[submodule "freetype2"]
	path = thirdparty/freetype2
	url = https://github.com/streamlabs/freetype2.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/streamlabs/assimp.git
